{% extends 'blog/base.html' %}
{% load staticfiles %}
<!Doctype html>
<html>
<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href="https://fonts.googleapis.com/css?family=Walter+Turncoat" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  <title>0VIBES</title>
</head>
<body>
{% block content %}
  {% for post in posts %}
        <div class="post">
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
            <b>{{ post.author }}</b>
            <div class="date">
              {{ post.published_date }}
            </div>
        </div>
    {% endfor %}
  {% endblock %}
</body>
</html>
